@model List<Brutus.DTOs.KlasaWithWychowawca>

<h1>Lista klas</h1>

<form action="/Klasy/Create" method="get">
    <button type="submit" class="btn">Dodaj nową klasę</button>
</form>
<table>
    <thead>
        <tr>
            <th>ID klasy</th>
            <th>Numer roku</th>
            <th>Litera klasy</th>
            <th>ID wychowawcy</th>
            <th>Imię wychowawcy</th>
            <th>Nazwisko wychowawcy</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klasa in Model)
        {
            <tr>
                <td>@klasa.ID_Klasy</td>
                <td>@klasa.NumerRoku</td>
                <td>@klasa.LiteraKlasy</td>
                <td>@klasa.ID_Wychowawcy</td>
                <td>@klasa.WychowawcaImie</td>
                <td>@klasa.WychowawcaNazwisko</td>
                <td>
                    <form action="/Klasy/SetWychowawca" method="get" style="display: inline;">
                        <input type="hidden" name="idKlasy" value="@klasa.ID_Klasy" />
                        <button type="submit" class="btn">Przypisz wychowawcę</button>
                    </form>
                    <form action="/Klasy/PrzedmiotyKlasy" method="get" style="display: inline;">
                        <input type="hidden" name="idKlasy" value="@klasa.ID_Klasy" />
                        <button type="submit" class="btn">Przedmioty klasy</button>
                    </form>
                    <form action="/Klasy/Update" method="get" style="display: inline;">
                        <input type="hidden" name="idKlasy" value="@klasa.ID_Klasy" />
                        <button type="submit" class="btn">Edytuj</button>
                    </form>
                    <form action="/Klasy/Delete" method="post" style="display: inline;">
                        <input type="hidden" name="idKlasy" value="@klasa.ID_Klasy" />
                        <button type="submit" class="btn-delete">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
