@model Brutus.DTOs.WiadomosciWithMozliwiAdresaci

<h1>Twoje wiadomości</h1>

<table>
    <thead>
    <tr>
        <th>Data</th>
        <th>Treść</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var wiadomosc in Model.Wiadomosci)
    {
        <tr>
            <td>@wiadomosc.Data</td>
            <td>@wiadomosc.Tresc</td>
            <td>
                <form action="/Wiadomosci/Details" method="get" style="display: inline;">
                    <input type="hidden" name="id" value="@wiadomosc.ID_Wiadomosci" />
                        <button type="submit" class="btn">Szczegóły</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@using (Html.BeginForm("Wyslij", "Wiadomosci", FormMethod.Post))
{
    <h2>Wyślij Wiadomość</h2>

    <div>
        <label for="WybranyAdresatID">Adresat:</label>
        @Html.DropDownListFor(m => m.WybranyAdresatID, Model.MozliwiAdresaci, "-- Wybierz Adresata --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.WybranyAdresatID)
    </div>

    <div>
        <label for="TrescWiadomosci">Treść Wiadomości:</label>
        @Html.TextAreaFor(m => m.TrescWiadomosci, new { @class = "form-control", rows = "5" })
        @Html.ValidationMessageFor(m => m.TrescWiadomosci)
    </div>

    <button type="submit" class="btn">Wyślij</button>
}