@model Brutus.Models.Konto

<h1>Podgląd ucznia</h1>
<h2>@Model.ID_Konta @Model.Imie @Model.Nazwisko</h2>
<h2>Nazwa przedmiotu?</h2>

<table>
    <thead>
        <tr>
            <th colspan="2">Akcje</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                <form action="/PodgladUczniaWPrzedmiocie/DodajOcene" method="get" style="display: inline;">
                    <input type="hidden" name="idPrzedmiotu" value="@ViewBag.IDPrzedmiotu" />
                    <input type="hidden" name="idUcznia" value="@Model.ID_Konta" />
                    <button type="submit" class="btn">Dodaj ocenę</button>
                </form>
                </td>
                <td>
                <form action="/PodgladUczniaWPrzedmiocie/GenerujZestawienie" method="get" style="display: inline;">
                    <input type="hidden" name="idPrzedmiotu" value="@ViewBag.IDPrzedmiotu" />
                    <input type="hidden" name="idUcznia" value="@Model.ID_Konta" />

                    <div>
                        <input type="checkbox" name="czyZawieraKomentarze" value="true" />
                        <label for="czyZawieraKomentarze">Komentarze</label>
                    </div>

                    <div>
                        <input type="checkbox" name="czyZawieraWagi" value="true" />
                        <label for="czyZawieraWagi">Wagi</label>
                    </div>

                    <div>
                        <input type="checkbox" name="czyPorownanieNaTleKlasy" value="true" />
                        <label for="czyPorownanieNaTleKlasy">Zestawienie na tle klasy</label>
                    </div>

                    <button type="submit" class="btn">Generuj zestawienie</button>
                </form>
                </td>
            </tr>
    </tbody>
</table>