@model List<Przedmiot>

<h1>Lista przedmiotów</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var przedmiot in Model)
        {
            <tr>
                <td>@przedmiot.ID_Przedmiotu</td>
                <td>@przedmiot.Nazwa</td>
                <td>@przedmiot.Opis</td>
                <td>
                    <form action="/Przedmioty/Update" method="get" style="display: inline;">
                        <input type="hidden" name="id" value="@przedmiot.ID_Przedmiotu" />
                        <button type="submit">Edytuj</button>
                    </form>
                    <form action="/Przedmioty/Delete" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@przedmiot.ID_Przedmiotu" />
                        <button type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form action="/Przedmioty/Create" method="get">
    <button type="submit">Dodaj nowy przedmiot</button>
</form>