@model List<Brutus.DTOs.PrzedmiotWithNauczyciel>

<h1>Lista przedmiotów</h1>

<table>
    <thead>
    <tr>
        <th>ID przedmiotu</th>
        <th>Nazwa przedmiotu</th>
        <th>Opis przedmiotu</th>
        <th>ID nauczyciela</th>
        <th>Imię nauczyciela</th>
        <th>Nazwisko nauczyciela</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var przedmiot in Model)
    {
        <tr>
            <td>@przedmiot.ID_Przedmiotu</td>
            <td>@przedmiot.PrzedmiotNazwa</td>
            <td>@przedmiot.PrzedmiotOpis</td>
            <td>@przedmiot.ID_Nauczyciela</td>
            <td>@przedmiot.NauczycielImie</td>
            <td>@przedmiot.NauczycielNazwisko</td>
            <td>
                <form action="/Przedmioty/SetNauczyciel" method="get" style="display: inline;">
                    <input type="hidden" name="idPrzedmiotu" value="@przedmiot.ID_Przedmiotu" />
                    <button type="submit">Przypisz nauczyciela</button>
                </form>
                <form action="/Przedmioty/Update" method="get" style="display: inline;">
                    <input type="hidden" name="id" value="@przedmiot.ID_Przedmiotu" />
                    <button type="submit">Edytuj</button>
                </form>
                <form action="/Przedmioty/Delete" method="post" style="display: inline;">
                    <input type="hidden" name="id" value="@przedmiot.ID_Przedmiotu" />
                    <button type="submit">Usuń</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<form action="/Przedmioty/Create" method="get">
    <button type="submit">Dodaj nowy przedmiot</button>
</form>