@model Brutus.DTOs.NauczycielWithPrzedmioty

<h1>Nauczyciel</h1>
<h2>@Model.KontoNauczyciela.Imie</h2>
<h2>@Model.KontoNauczyciela.Nazwisko</h2>

<h2></h2>
<h2>Przedmioty nauczyciela</h2>

<table>
    <thead>
        <tr>
            <th>ID Przedmiotu</th>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var przedmiot in Model.PrzedmiotyNauczyciela)
        {
            <tr>
                <td>@przedmiot.ID_Przedmiotu</td>
                <td>@przedmiot.Nazwa</td>
                <td>
                    <form action="/PrzedmiotNauczycielaPanel" method="get" style="display: inline;">
                        <input type="hidden" name="idPrzedmiotu" value="@przedmiot.ID_Przedmiotu" />
                        <button type="submit" class="btn">Przejdź do przedmiotu</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>