@model Brutus.DTOs.UczenWithOceny

<h1>Oceny</h1>

@if (Model != null)
{
    <table>
    <thead>
    <tr>
    <th>ID</th>
    <th>Wartość</th>
    <th>Waga</th>
    <th>Data</th>
    <th>Komentarz</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Ocena ocenaUcznia in Model.OcenyUcznia)
    {
        <tr>
            <td>@ocenaUcznia.ID_Oceny</td>
            <td>@ocenaUcznia.Wartosc</td>
            <td>@ocenaUcznia.Waga</td>
                        <td>@ocenaUcznia.Data</td>
            <td>@ocenaUcznia.Komentarz</td>

        </tr>
    }
    </tbody>
    </table>
}
else
{
    <p>Brak ocen do wyświetlenia.</p>
}

