@model Brutus.DTOs.TestDetails

<h2>Szczegóły Testu</h2>

<div>
    <h3>Nazwa Testu: @Model.Test.Nazwa</h3>
    <h3>Czas Trwania: @Model.Test.CzasTrwania</h3>
    <h3>Liczba Zadań: @Model.Test.LiczbaZadan</h3>
</div>

@if (Model.Pytania != null)
{
    <h3>Pytania w Teście</h3>
    <table>
        <thead>
            <tr>
                <th>Treść Pytania</th>
                <th>Punkty</th>
                <th>Wariant A</th>
                <th>Wariant B</th>
                <th>Wariant C</th>
                <th>Wariant D</th>
                <th>Poprawna Odpowiedź</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pytanie in Model.Pytania)
            {
                <tr>
                    <td>@pytanie.Tresc</td>
                    <td>@pytanie.Punkty</td>
                    <td>@pytanie.WariantA</td>
                    <td>@pytanie.WariantB</td>
                    <td>@pytanie.WariantC</td>
                    <td>@pytanie.WariantD</td>
                    <td>@pytanie.PoprawnaOdpowiedz</td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a href="@Url.Action("Index", "Testy")">Powrót do listy</a>
</div>
